/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
 height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  }

.container {
  width: 90%;
  min-height: calc(100vh - 70px);
  margin: 0 auto;
}


main {
  width: 100%;
  min-height: 100vh;
  /* min-height: calc(100vh - 70px); */
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(6);
  gap: 1em;
  margin-bottom: 8em;
    
}
.category,
.recent {
  grid-row: span 6;
}

.heading h2 {
  margin-top: 3em;
  margin-bottom: 1em;
  color: rgb(42, 41, 41);
}

.cat-list li {
  margin-bottom: 0.5em;
  transition: all 0.3s ease;
}

.cat-list li:hover {
  transform:scale(1.02) translateY(-2px);
  
}

.cat-link {
  color: gray;
  font-weight: 700;
}

.cat-link:hover {
  color:rgb(42, 41, 41);
}

.main-header {
  
  grid-column: span 2;
}

.main-header h1 {
  color: rgb(42, 41, 41);
}

.today1 img {
  width: 100%;
  border-radius: 1em;
}

.btn-link {
  padding: 0.1em 0.6em;
  background-color: green;
  /* text-align: center; */
  border-radius: 1em;
  font-size: 0.8rem;
  color: white;
  font-size: 0.8rem;
  /* color: white; */
}

.today1 :nth-child(4) {
  color: rgb(42, 41, 41);
  font-size: 0.8rem;
  font-size: 1.2rem;
}

.today1 :nth-child(3) {
  color: gray;
  font-size: 0.7rem;
}

.post-link p {
  color: rgb(42, 41, 41);
}

.post-link p:hover {
  color: rgb(209, 32, 91);
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.recent-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list-item p{
  font-size: 0.8rem;
}

.footer {
  height: 2em;
  background-color: rgb(42, 41, 41);
  
  
}

.footer p {
  padding-top: 0.5em;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  /* vertical-align: middle; */
}
